<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
        <h1>Cards</h1>
        <div>
            <table>
                <tr><th>Cards: {{len .Cards}}</th></tr>
            {{range .Cards}} 
                <tr><td>{{.Name}}</td></tr>
            {{end}}
            </table>
        </div>
        {{if .Started}}
        <p>already playing: {{ len .Players}}/{{len .Cards }}</p>
        <form action="/playing">
            <input type="hidden" name="code" value="{{.Code}}">
            <input type="text" name="name" value="">
            <label for="moderator">moderator</label>
            <input type="checkbox" id="moderator" name="moderator" value="">
            <input type="submit" name="" value="Join Game">
        </form>
        {{else}}
        <form action="/addCard">
            <input type="hidden" name="code" value="{{.Code}}">
            <label for="card">add card</label>
            <input type="text" id="card" name="card" value="">
            <input type="submit" value="Add">
        </form>
        <form action="/startGame">
            <input type="hidden" name="code" value="{{.Code}}">
            <input type="submit" name="" value="Start Game">
        </form>
        
        {{end}}
    
    </body>
</html>
